@model IEnumerable<LapTrinhWeb.Models.Product>
@using System.Globalization
@{
    ViewBag.Title = "Home Page";
}

<style>
    .grow-img {
        width: 95%;
        border-radius: 20px;
        margin-bottom: 15px; /* chừa khoảng cách với chữ */
        transition: transform 0.3s ease;
    }

        .grow-img:hover {
            transform: scale(1.05);
            cursor: pointer;
        }



</style>
<body style="font-family: Arial;">
    <div class="container">
        <!-- Carousel với Bootstrap 5 -->
        <div id="carouselExampleAutoplay" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/banner/banner1_Index.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/img/banner/banner2_Index.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/img/banner/banner3_Index.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplay" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplay" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3">
                @Html.Partial("_Categories")

                <img src="~/img/GioiThieu/poster_pet.png" alt="ảnh poster" style="width: 250px; height: 380px; margin-top: 70px;" />
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 padding-right">
                <div class="features_items_home">
                    <!--features_items-->
                    <h2 class="title_home"><i class="fa-solid fa-paw"></i> Sản phẩm nổi bật <i class="fa-solid fa-paw"></i></h2>
                    <hr />
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="@Url.Action("Details", "Product", new { id = item.ProId })">
                                                <img class="grow-img" style="width: 100%; border-radius: 20px;"
                                                     src="~/img/pet/@item.ProImage"
                                                     alt="@item.ProName">
                                            </a>
                                            <a href="@Url.Action("Details", "Product",  new { id = item.ProId })"><strong class="proname_home">@item.ProName</strong></a><br />
                                            <h4>@String.Format(new CultureInfo("vi-VN"), "{0:C0}", (object)item.ProPrice)</h4>
                                            <button class="button_home" type="button">
                                                @Html.ActionLink("Thêm vào giỏ hàng", "OrderNow", "ShoppingCart", new { Id = item.ProId }, null)
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="recommended_items">
                            <!--recommended_items-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap 5 JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!--End Carousel-->


    </div>
</body>