
@{
    ViewBag.Title = "Tin Tức";
}

<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bread-crumb-title">
                    Tin tức mới | NABI Pet Shop
                </div>
            </div>
            <div class="col-xl-12">
                <div class="bread-crumb-link">
                    <ul>
                        <li><span class="bread-crumb-link">@Html.ActionLink("Trang chủ", "Index", "Home")</span> / NABI Pet Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/img/GioiThieu/blog1.png" class="card-img-top" alt="ảnh blog">
                <div class="card-body">
                    <h5 class="card-title">HALLOWEEN SALE KHỦNG – GIẢM GIÁ TỚI 50%</h5>
                    <p class="card-text">Halloween đã đến gần. Bạn đã có trang phục cho thú cưng bạn chưa ?</p>
                    <button type="button" class="button_blog"><a>@Html.ActionLink("Đọc thêm", "TinTuc1", "TinTuc") </a></button>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/img/GioiThieu/blog2.jpg" class="card-img-top" alt="ảnh blog">
                <div class="card-body">
                    <h5 class="card-title">Hướng Dẫn Chó Mèo Mới Về Nhà Làm Quen Với Thú Cưng Cũ </h5>
                    <p class="card-text">Bí Quyết Hòa Nhập An Toàn, Hiệu Quả</p>
                    <button type="button" class="button_blog"><a>@Html.ActionLink("Đọc thêm", "TinTuc1", "TinTuc") </a></button>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/img/GioiThieu/blog3.jpg" class="card-img-top" alt="ảnh blog">
                <div class="card-body">
                    <h5 class="card-title">Cách Thú Cưng Thể Hiện Hạnh Phúc Với Bạn</h5>
                    <p class="card-text">Giải Mã Các Hành Vi Của Chó Mèo Khi Vui:</p>
                    <button type="button" class="button_blog"><a>@Html.ActionLink("Đọc thêm", "TinTuc1", "TinTuc") </a></button>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/img/GioiThieu/blog4.jpg" class="card-img-top" alt="ảnh blog">
                <div class="card-body">
                    <h5 class="card-title">Nguyên Nhân Và Cách Ứng Phó Hiệu Quả</h5>
                    <p class="card-text">Phân Tích Hành Vi Bất Thường Ở Mèo: Nguyên Nhân Và Cách</p>
                    <button type="button" class="button_blog"><a>@Html.ActionLink("Đọc thêm", "TinTuc1", "TinTuc") </a></button>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/img/GioiThieu/blog5.png" class="card-img-top" alt="ảnh blog">
                <div class="card-body">
                    <h5 class="card-title">6 dấu hiệu chó bị chảy máu mũi cần lưu ý ngay</h5>
                    <p class="card-text">Chảy máu mũi ở chó là một triệu chứng đáng lo ngại, có thể do yếu tố di truyền, chấn thương, nhiễm trùng, rối loạn ...</p>
                    <button type="button" class="button_blog"><a>@Html.ActionLink("Đọc thêm", "TinTuc1", "TinTuc") </a></button>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/img/GioiThieu/blog6.png" class="card-img-top" alt="ảnh blog">
                <div class="card-body">
                    <h5 class="card-title">7 dấu hiệu mèo bị trầm cảm mà bạn cần nhận biết sớm</h5>
                    <p class="card-text">Mèo là loài động vật có cảm xúc và có thể bị trầm cảm khi gặp những thay đổi lớn hoặc mất mát quan trọng ...</p>
                    <button type="button" class="button_blog"><a>@Html.ActionLink("Đọc thêm", "TinTuc1", "TinTuc") </a></button>
                </div>
            </div>
        </div>
    </div>
</div>


