@model LapTrinhWeb.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .dl-horizontal {
        margin-left: 40px;
    }

    .idea-details {
        font-size: 20px;
    }

    .product_details {
        font-size: 17px;
    }

    .button_details {
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 470px;
    }

    .btn btn-sm btn-secondary {
        margin-right: 50px;
    }
</style>

<div style="text-align: center; margin: 20px auto; font-weight: bolder; width: 70%; align-content: center; font-size: 22px; border-radius: 10px; background-color: #ADADAD;">ADMIN PAGE / DELETE <i class="fa-solid fa-trash fa-beat"></i></div>


<div>
    <h4 style="margin-top: 50px; text-align: center; font-weight: bolder;">Xóa sản phẩm :</h4>
    <h3 style="text-align: center; font-weight: bolder;">Bạn có chắc chắn muốn xóa không ?</h3>
    <hr style="width : 60%; margin: 20px auto;" />

    <div class="container mt-4">
        <div class="row">
            <!-- Hình ảnh sản phẩm -->
            <div class="col-md-6 text-center">
                <img src="~/img/pet/@Model.ProImage" alt="@Model.ProName" class="img-thumbnail" style="max-width:90%; height:auto;" />
            </div>

            <!-- Thông tin sản phẩm -->
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt class="idea-details">
                        @Html.DisplayNameFor(model => model.ProName)
                    </dt>

                    <dd class="product_details">
                        @Html.DisplayFor(model => model.ProName)
                    </dd>

                    <dt class="idea-details">
                        @Html.DisplayNameFor(model => model.ProImage)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProImage)
                    </dd>

                    <dt class="idea-details">
                        @Html.DisplayNameFor(model => model.ProPrice)
                    </dt>

                    <dd>
                        @String.Format("{0:N0} ₫", Model.ProPrice)
                    </dd>

                    <dt class="idea-details">
                        @Html.DisplayNameFor(model => model.ProBreed)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProBreed)
                    </dd>

                    <dt class="idea-details">
                        @Html.DisplayNameFor(model => model.ProColor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProColor)
                    </dd>

                    <dt class="idea-details">
                        @Html.DisplayNameFor(model => model.ProAge)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProAge)
                    </dd>

                    <dt class="idea-details">
                        @Html.DisplayNameFor(model => model.ProGender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProGender)
                    </dd>

                    <dt class="idea-details">
                        @Html.DisplayNameFor(model => model.ProVaccination)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProVaccination)
                    </dd>

                    <dt class="idea-details">
                        @Html.DisplayNameFor(model => model.ProDeworming)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProDeworming)
                    </dd>

                    <dt class="idea-details">
                        @Html.DisplayNameFor(model => model.ProHealth)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProHealth)
                    </dd>

                    <dt class="idea-details">
                        @Html.DisplayNameFor(model => model.ProShipping)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProShipping)
                    </dd>

                    <dt class="idea-details">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                    <dt class="idea-details">
                        @Html.DisplayNameFor(model => model.Origin)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Origin)
                    </dd>

                    <dt class="idea-details">
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>

                    <dt class="idea-details">
                        @Html.DisplayNameFor(model => model.Category.CatName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Category.CatName)
                    </dd>

                </dl>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color" style="margin-left: 450px; margin-top: 20px;">
                <span style="margin-right: 105px;">@Html.ActionLink("Quay lại danh sách", "KetQuaTimKiem", null, new { @class = "btn btn-sm btn-secondary" })</span>
                <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
            </div>
        }
    </div>
</div>
